[submodule "services/auth"]
	path = services/auth
	url = https://github.com/sladkoezhkovo/auth-service.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/sladkoezhkovo/gateway.git
[submodule "services/admin"]
	path = services/admin
	url = https://github.com/sladkoezhkovo/admin-service
